### Many To Many Relation

#### Student

| id (PK) | name      |
| ------- | --------- |
| INT     | CharField |

#### Enrollment

| id (PK) | student_id (FK) - Student | lecture_id (FK - Lecture) |
| ------- | ------------------------- | ------------------------- |
| INT     | INT                       | INT                       |

#### Lecture

| id (PK) | title     |
| ------- | --------- |
| INT     | CharField |

In [14]:
Student.objects.create(name='유태영')
Student.objects.create(name='강동주')
Student.objects.create(name='김탁희')
Student.objects.create(name='김재석')

In [15]:
Lecture.objects.create(title='운영체제')
Lecture.objects.create(title='네트워크')

In [39]:
Lecture.objects.create(title='C언어')

In [19]:
Enrollment.objects.create(student=Student.objects.get(name='유태영'), lecture=Lecture.objects.get(title='운영체제'))
Enrollment.objects.create(student=Student.objects.get(name='유태영'), lecture=Lecture.objects.get(title='네트워크'))
Enrollment.objects.create(student=Student.objects.get(name='강동주'), lecture=Lecture.objects.get(title='운영체제'))

In [40]:
Enrollment.objects.create(student=Student.objects.get(name='강동주'), lecture=Lecture.objects.get(title='C언어'))

In [22]:
Enrollment.objects.all()

In [29]:
유태영 = Student.objects.get(name='유태영')
수강신청1 = 유태영.enrollment_set.first()
수강신청2 = 유태영.enrollment_set.last()
유태영.enrollment_set.all()

In [30]:
수강신청1.lecture.title

'운영체제'

In [31]:
수강신청2.lecture.title

'네트워크'

In [41]:
# 수업 여러개 듣는 사람 1명을 student에 저장합니다
student = Student.objects.get(name='강동주')

In [42]:
# student 의 수업들 제목을 출력하는 for 문을 작성해 보세요
for 수강신청 in student.enrollment_set.all():
    print(수강신청.lecture.title)

운영체제
C언어

In [43]:
# student 의 수업들 중 제목이 4 글자 이상인 수업의 제목을 출력
for 수강신청 in student.enrollment_set.all():
    if len(수강신청.lecture.title) >= 4:
        print(수강신청.lecture.title)

운영체제

In [44]:
Hotel.objects.all()

In [6]:
Hotel.dummy(1)

In [7]:
Client.dummy(1)

In [1]:
Hotel.objects.all()

<QuerySet [<Hotel: Hotel object (1)>, <Hotel: Hotel object (2)>, <Hotel: Hotel object (3)>, <Hotel: Hotel object (4)>, <Hotel: Hotel object (5)>, <Hotel: Hotel object (6)>, <Hotel: Hotel object (7)>, <Hotel: Hotel object (8)>, <Hotel: Hotel object (9)>, <Hotel: Hotel object (10)>]>

In [4]:
Client.objects.all().values('id', 'name')

<QuerySet [{'id': 2, 'name': 'Amy Johnson'}, {'id': 9, 'name': 'Charles Key'}, {'id': 7, 'name': 'Christopher Cook'}, {'id': 8, 'name': 'Cynthia Robbins'}, {'id': 5, 'name': 'Dr. Curtis Hurst'}, {'id': 10, 'name': 'Melinda Davis'}, {'id': 1, 'name': 'Robert Wilson'}, {'id': 4, 'name': 'Shannon Bailey'}, {'id': 6, 'name': 'Sheila Robinson'}, {'id': 3, 'name': 'Teresa Curtis'}]>

In [5]:
Client.objects.last().hotel_set.count()

1

In [6]:
new_hotel = Hotel.objects.last()
new_hotel.clients.all()

In [7]:
new_hotel.clients.add(Client.objects.last())
new_hotel.clients.all()

In [8]:
new_hotel.clients.add(
    Client.objects.get(id=3),
    Client.objects.get(id=5),
    Client.objects.get(id=7),
)
new_hotel.clients.all()

In [9]:
new_hotel.clients.filter(name__contains='h')

In [16]:
client = Client.objects.get(id=3)

client.hotel_set.all().values('name')

In [3]:
client = Client.objects.get(id=3)
client.hotels.all().values('name')