In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           249 non-null    int64
 1   City / Urban area    249 non-null    object
 2   Country              249 non-null    object
 3   Population           249 non-null    int64
 4   Land area (in sqKm)  249 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.9+ KB

In [5]:
df['City / Urban area'].unique()

array(['Buenos Aires', 'Melbourne', 'Sydney', 'Brisbane', 'Perth',
       'Adelaide', 'Gold Coast', 'Vienna', 'Baku/Sumqayit', 'Brussels',
       'Antwerp', 'Sao Paulo', 'Rio de Janeiro', 'Belo Horizonte',
       'Curitiba', 'Brasilia', 'Fortaleza', 'Porto Alegre', 'Campinas',
       'Goiania', 'Recife', 'Phnom Penh', 'Montreal.', 'Toronto',
       'Vancouver', 'Edmonton', 'Calgary', 'Quebec', 'Ottawa/Hull',
       'Winnipeg', 'St. Catharines', 'Santiago', 'Beijing', 'Shanghai',
       'Shenzhen', 'Shenyang', 'Tianjin', 'Dalian', 'Bogota', 'Kinshasa',
       'Lumumbashi', 'Copenhagen', 'Quito', 'Cairo', 'Helsinki', 'Paris',
       'Marseille', 'Bordeaux', 'Lyon', 'Toulouse', 'Nice', 'Toulon',
       'Avignon', 'Valenciennes', 'Douai/Lens', 'Nantes', 'Lille', 'Pau',
       'Tours', 'Bethune', 'Essen/Düsseldorf', 'Berlin', 'Frankfurt',
       'Hamburg', 'Cologne/Bonn', 'Munich', 'Stuttgart', 'Aachen',
       'Accra', 'Athens', 'Budapest', 'Delhi', 'Hyderabad', 'Bangalore',
       'Kolkata', 'Mumbai', 'Chennai', 'Jakarta', 'Tehran', 'Baghdad',
       'Dublin', 'Tel Aviv', 'Milan', 'Rome', 'Naples', 'Turin',
       'Tokyo/Yokohama', 'Nagoya', 'Osaka/Kobe/Kyoto', 'Fukuoka',
       'Sapporo', 'Kuwait', 'Beirut', 'Kuala Lumpur', 'Mexico City',
       'Guadalajara', 'Monterey', 'Rotterdam', 'Auckland', 'Lagos',
       'Lahore', 'Karachi', 'Lima', 'Manila', 'Katowice', 'Warsaw',
       'Lisbon', 'Porto', 'San Juan', 'Aguadilla', 'Moscow',
       'St Petersburg', 'Nizhni Novgorod', 'Arabia', 'Riyadh', 'Jeddah',
       'Singapore', 'Johannesburg/East Rand', 'Durban', 'Cape Town',
       'Pretoria', 'Vereeniging', 'Port Elizabeth', 'Seoul/Incheon',
       'Madrid', 'Barcelona', 'Khartoum', 'Stockholm', 'Taichung',
       'Taipei', 'Bangkok', 'Istanbul', 'Ankara', 'Abu Dhabi', 'Dubai',
       'London', 'Birmingham', 'Manchester', 'Leeds/Bradford', 'Glasgow',
       'Donetsk', 'New York Metro', 'Chicago', 'Atlanta', 'Philadelphia',
       'Boston', 'Los Angeles', 'Dallas/Fort Worth', 'Houston', 'Detroit',
       'Washington', 'Miami', 'Seattle', 'Minneapolis/St. Paul',
       'Pittsburgh', 'St. Louis', 'Tampa//St. Petersburg', 'Phoenix/Mesa',
       'San Diego', 'Baltimore', 'Cincinnati', 'Cleveland', 'Kansas City',
       'Indianapolis', 'San Francisco//Oakland', 'Virginia Beach',
       'Providence', 'Denver', 'Milwaukee', 'Portland', 'Hartford',
       'Bridgeport//Stamford', 'Orlando', 'Riverside/San Bernardino',
       'Richmond', 'Charlotte', 'Nashville', 'Jacksonville',
       'San Antonio', 'Memphis', 'Columbus', 'Louisville', 'Sacramento',
       'Buffalo', 'Knoxville', 'Dayton', 'Oklahoma City', 'Raleigh',
       'Austin', 'McAllen', 'Springfield', 'Akron', 'Rochester', 'Tucson',
       'Chattanooga', 'Allentown/Bethlehem', 'Barnstable Town',
       'Las Vegas', 'New Haven', 'Albany', 'Baton Rouge',
       'Sarasota//Bradenton', 'Columbia', 'Poughkeepsie', 'Tulsa',
       'San Jose', 'Grand Rapids', 'Winston/Salem', 'Worcester',
       'Augusta', 'Flint', 'Charleston', 'Salt Lake City', 'Youngstown',
       'Greenville', 'Omaha', 'Albuquerque', 'Palm Bay', 'El Paso',
       'Pensacola', 'Hickory', 'Mobile', 'Harrisburg', 'Asheville',
       'Little Rock', 'Toledo', 'Lancaster', 'New Orleans',
       'Colorado Springs', 'Cape Coral', 'Ogden', 'Syracuse', 'Wichita',
       'Concord', 'Port St Lucie', 'Fayetteville', 'Jackson', 'Scranton',
       'Huntsville', 'Durham', 'South Bend', 'Shreveport', 'Honolulu',
       'Bonita Springs / Naples', 'Canton', 'Spokane', 'Tashkent',
       'Ho Chi Minh City', 'Harare'], dtype=object)

In [6]:
df['City / Urban area'].value_counts()

Lagos                   1
Munich                  1
Naples                  1
Orlando                 1
Denver                  1
                       ..
Lima                    1
Salt Lake City          1
Budapest                1
Bridgeport//Stamford    1
Vienna                  1
Name: City / Urban area, Length: 249, dtype: int64

In [7]:
df['City / Urban area'].describe()

count       249
unique      249
top       Lagos
freq          1
Name: City / Urban area, dtype: object

In [8]:
df['Country'].describe()

count     249
unique     61
top       USA
freq      105
Name: Country, dtype: object

In [17]:
df[(df['Population'] / df['Land area (in sqKm)']) > 10000].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
dtypes: int64(3), object(2)
memory usage: 912.0+ bytes

In [26]:
df['Country'].value_counts()[df['Country'].value_counts() == 4]

Italy    4
Name: Country, dtype: int64